.layout {
    display: flex;
    height: 100vh;
    background: #0F1720;
}

.layout__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.layout__page {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}